$primary:#0F936D;
$secondary: #3B5D50;
$light-green: #DDE7B8;
$tosca: #57A6A1;
$orange: #CA8239;
$yellow:#E8BA01;
$light-yellow: #fadb5d;
$grey: #8F90A6;
$white: #F5F5F5;
$darker: #1C4839;
$gray: #D9D9D9;
$dark-gray: #3b3b3b;
$dark-blue: #123D5B;
$dark-orange: #8D3503;
$lighter-orange: #fbc38b95;
$medium-orange: #ED9E65;