@import 'variable';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
// body{
//     background: linear-gradient(180deg, #DDE7B8 10.42%, rgba(37, 112, 82, 0.90) 42.04%, #93B6A8 64.77%, #F5F5F5 78.88%);
//     // background: linear-gradient(180deg, #DDE7B8 10.42%, rgba(37, 112, 82, 0.90) 60.04%, #93B6A8 74.77%, #F5F5F5 98.88%);
//     // background-attachment: fixed;
// }
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.font-heading{
    font-family: "Inter", sans-serif;
}
.font-primary{
    font-family: "Poppins", sans-serif;
    
}
.btn-dark-green{
    background-color: $secondary;
    color: $white;
}
.btn-dark-green:hover{
    background-color: $orange;
    color: $white;
}
.text-primary{
    color: $primary;
}
.text-dark-green{
    color: $secondary;
}
.text-light-green{
    color: $light-green;
}
.text-orange{
    color: $orange;
}
.text-gradient{
    background: linear-gradient(92deg, #417741 7.58%, #9FB51E 98.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-light-yellow{
    background-color: $light-yellow;
}
h1{
    font-size: clamp(#{38px}, 5vw, #{40px});
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
h2{
    font-size: clamp(#{12px}, 5vw, #{16px});
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
// style navbar
header{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 25px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.72);
    position: absolute;
    border-radius: 38px;
    width: 90%;
    margin-top: 20px;
    justify-content: center;
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        img{
            width: 70%;
            height: auto;
            z-index: 3;
        }
        .name{
            width: 100%;
            color: black;
            font-size: 5rem;
            font-family: 'Holtwood One SC', sans-serif;
        }
    }

    ul li a{
        font-size: clamp(#{12px}, 5vw, #{16px});
        color: #000;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        padding: 70px 16px 16px 16px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.72);
        gap: 70px;
        width: 90%;
        transform: translateY(-100%);
        text-align: center;
        color: black;
        transition: all 0.5s ease;
        z-index: 2;
        a:hover{
            text-decoration: none;
            color: yellow;
        }
    }

    .nav-links.show{
        display: flex;
        transform: translateY(0);
        top: 0;
        margin-top: 70px;
    }
}

.burger{
    display: block;
    cursor: pointer;
    margin-left: auto;
    z-index: 2;

    .line{
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: $primary;
        border-radius: 3px;
    }
}
#hero{
    padding: 30px;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #DDE7B8 7.58%, #1C4839 98.88%);
    .group{
        flex-direction: column;
    }
    .caption-heading{
        margin-top: 20px;
    }

    .floating-image{
        width: 90%;
        height: 100%;
        position: relative;
        animation: floatAnimation 3s ease-in-out infinite;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes floatAnimation {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
    }
}
#coming-soon{
    min-height: 50vh;
    background: linear-gradient(180deg, #1C4839 45.58%, #F5F5F5 98.88%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#graphic{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: $white;
    img{
        width: 150%;
        height: 100%;
    }
}
#main-page{
    min-height: 100vh;
    padding: 40px;
    background: linear-gradient(180deg, #0F936D 49.72%, #F5F5F5 100%);
    img{
        width: 100%;
    }
    .floating-image{
        width: 100%;
        height: 100%;
        position: relative;
        animation: floatAnimation 3s ease-in-out infinite;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes floatAnimation {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
    }
}
#graphic{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/background/graphic.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
footer{
    background-color: $darker;
    padding: 30px;
    min-height: 100vh;
    h4{
        font-size: clamp(#{20px}, 6vw, #{32px});
        margin-bottom: 20px;
    }
    h5{
        font-size: clamp(#{20px}, 6vw, #{32px});
    }
    span{
        font-size: clamp(#{10px}, 6vw, #{18px});
        margin-top: 5%;
    }
    hr{
        color: $white;
        width: 100%;
        margin-top: 80px;
    }
    h4{
        margin-bottom: 20px;
    }
    .recap{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        padding-top: 56.25%;
        iframe{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
    }
    
    .contact{
        margin-top: 50px;
        ul {
            display: flex;
            flex-direction: row;
            position: relative;
            gap: 20px;
            padding-top: 40px;
            padding-left: 0;
            // transform: translate(-50%, -50%);
        }
        ul li {
            list-style: none;
        }
        ul li a {
            width: 80px;
            height: 80px;
            background-color: transparent;
            text-align: center;
            line-height: 100px;
            display: block;
            border-radius: 50%;
            position: relative;
            overflow-y: hidden;
            border: 3px solid $white;
            z-index: 1;
        }
        ul li a .icon {
            position: relative;
            color: $white;
            transition: .5s;
            z-index: 3;
            font-size: 32px;
            margin-top: 2px;
            overflow-y: hidden;
        }
    
        ul li a:hover .icon {
            color: #fff;
            transform: rotateY(360deg);
        }
    
        ul li a:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f00;
            transition: .5s;
            z-index: 2;
        }
        ul li a:hover:before {
            top: 0;
        }

        .fa-brands.fa-instagram.icon{
            font-size: 35px;
            line-height: 70px;

        }
    
        ul li:nth-child(1) a:before{
            background: radial-gradient(61.46% 59.09% at 36.25% 96.55%, #FFD600 0%, #FF6930 48.44%, #FE3B36 73.44%, rgba(254, 59, 54, 0.00) 100%), radial-gradient(202.83% 136.37% at 84.50% 113.50%, #FF1B90 24.39%, #F80261 43.67%, #ED00C0 68.85%, #C500E9 77.68%, #7017FF 89.32%);
        }
    
        ul li:nth-child(2) a:before{
            background: #000;
        }
        
        ul li:nth-child(3) a:before {
            background: #0077b5;
        }
    
        ul li:nth-child(4) a:before {
            background: #dd4b39;
        }
    }
}
@media screen and (min-width: 500px){
    h1{
        font-size: clamp(#{42px}, 5vw, #{45px});
    }
    h2{
        font-size: clamp(#{16px}, 5vw, #{18px});
    }
    #hero{
        padding: 40px;
        .image-float{
            display: flex;
            justify-content: center;
        }
        .group{
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .floating-image{
            width: 65%;
        }
    }
    #coming-soon{
        padding: 40px;
    }
    #graphic{
        min-height: 70vh;
    }
    footer{
        padding: 80px;
    }
}
@media screen and (min-width: 635px) and (max-width: 767px){
    #graphic{
        min-height: 90vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 927px){
    #graphic{
        min-height: 100vh;
    }
}
@media screen and (min-width: 928px){
    header{
        padding-left: 60px;
        padding-right: 60px;
    }
    nav{
        justify-content: center;
        align-items: center;
        padding: 15px 18px;
        .nav-links{
            flex-direction: row;
            transform: none;
            z-index: 0;
            transition: none;
            justify-content: right;
            position: relative;
            background-color: transparent;
            align-items: center;
            padding: 8px 12px;
            margin-bottom: 0;
        }
    }
    .burger{
        display: none;
    }
}
@media screen and (min-width: 1440px){
    h1{
        font-size: clamp(#{58px}, 5vw, #{60px});
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    h2{
        font-size: clamp(#{20px}, 5vw, #{22px});
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        width: 80%;
        line-height: 1.5;
    }
    header{
        padding-left: 90px;
        padding-right: 90px;
    }

    #hero{
        padding: 40px 90px;
        .group{
            flex-direction: row-reverse;
            text-align: left;
        }
        .floating-image{
            width: 85%;
        }
    }
    #coming-soon{
        padding: 20px 100px;
        min-height: 100vh;
    }
    #graphic{
        background-image: url(../images/background/MacBook\ Air\ -\ 2.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 120vh;
    }
    footer{
        min-height: 100vh;
        padding-left: 350px;
        padding-right: 350px;
        padding-bottom: 50px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        hr{
            margin-top: 10px;
        }
        span{
            margin-top: 10px;
        }
        h4{
            font-size: clamp(#{40px}, 5vw, #{48px});
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            font-weight: 600;
        }
    }
}