@import 'variable';
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background/bg-loader.png);
    // background: $primary;
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    z-index: 10;
}

#gif-container {
    margin-bottom: 20px;
    text-align: center;
}

#progress-bar {
    width: 90%;
    height: 20px;
    background: #555;
    border-radius: 10px;
    overflow: hidden;
}

#bar {
    height: 100%;
    width: 0;
    background: $yellow;
    border-radius: 10px;
    transition: width 0.2s ease;
}

.text {
    font-size: 40px;
}

.rotated {
    // animation: moveLeftToRight 5s linear infinite;
    width: 50%;
}

.loader-logo{
    width: 50%;
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(calc(-200% + -10vw));
    }
    100% {
        transform: translateX(calc(100% + 10vw));
    }
}

/* Fade-in effect for content */
.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.fade-in.show {
    opacity: 1;
}

@media screen and (min-width: 1200px){
    #preloader{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .rotated{
        width: 30%;
    }
    #progress-bar{
        width: 50%;
    }
}

